/* Global Styles */
body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600; /* Bold */
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Typography */
a {
    font-family: 'Qarmic sans free', sans-serif;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300; /* Light */
    text-align: justify; /* Justify text */
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700; /* Bold */
}

/* Header */
header {
    background: #fdf0ea;
    color: #704b3e;
    padding: 20px;
}

/* Navigation */
nav a {
    color: #704b3e;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

/* Main Content */
main {
    padding-bottom: 60px; /* Add padding to the bottom to ensure footer does not overlap content */
}

/* Footer */
footer {
    background: #f6f3ef;
    color: #704b3e;
    padding: 10px;
    position: relative; /* Change from fixed to relative */
    bottom: 0;
    width: 100%;
}


/* Main Photo style */
.main-photo-section {
    width: 100%; /* Ensure the section is full width */
    padding: 0; /* Remove padding */
}

.main-photo {
    width: 100%; /* Ensure the image is full width */
    height: auto;
    display: block;
}

.text-container {
    max-width: 800px; /* Adjust the width as needed */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background for text container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for better visual separation */
    box-sizing: border-box;
}


/* Section Styles */
section {
    max-width: 800px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the section */
}

.section-one {
    background-color: #f2f0ea; /* Light Red */
    margin-top: 0; /* Remove margin above the section */
}

.section-two {
    background-color: #f2f0ea; /* Light Blue */
    max-width: 800px; /* Adjust the width as needed */
}

.section-three {
    max-width: 800px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the section */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f3ef; /* Light gray background */
}

.section-four {
    background-color: #ffffff; /* Light Blue */
}

.left-column, .right-column {
    width: 48%; /* Adjust the width as needed */
    padding: 20px;
    background-color: #fff; /* White background for columns */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for better visual separation */
    box-sizing: border-box;
}

.right-column p {
    max-width: 400px; /* Limit the text length */
    margin: 0 auto;
}

/* Product Container */
.product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

/* Product */
.product {
    position: relative;
    width: 30%;
}

.product img {
    width: 100%;
    height: auto;
    display: block;
}

.product .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.product:hover .overlay {
    opacity: 1;
}

.product .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Button Styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #704b3e;
    border: 2px solid #704b3e; /* Brown border */
    border-radius: 0px;
    box-shadow: 0 0px #999;
}

.button:hover {
    background-color: #3e8e41;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
